
body {
    background-color: #8b0000;
    color: #f5f5f5
}

/* ------------------------------------------Header */
.brand {
    font-family: "Kaushan Script", serif;
    font-size: 3rem;
    font-weight: 400;
    color: #4A4A4F;
}

.hidden-on-dropdown {
    visibility: hidden;
}
/* ------------------------------------------Main */
main {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    color: #f5f5f5;
}

.btn {
    margin: 10px;
}
/* index.html */
.dragon-guarding {
    display: block;
    width: 100%;
    height: auto;
}

.welcome-title {
    font-family: "Kaushan Script", serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 15px;
    color: #FFD700;
}

.welcome {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
}

.welcome-btns {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.index-sub {
    font-family: "Kaushan Script", serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 15px;
    color: #FFD700;
    text-align: center;
}

.review-card {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}



.home-review-text-title {
    font-size: 30px;

}

.author-card {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.author-text-name {
    font-size: 30px;
}

/* reviews and authors .html */
.intro-reviews {
    background-color: #4b5320;
    padding: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.rev-aut-sub {
    font-family: "Kaushan Script", serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 15px;
    color: #FFD700;
}


/* login.html */

.credentials-box {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    
}

.dragon-computer-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}


/* Buttons */



.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

/* Author and Review Masthead */


/* Image scale */
.scale {
    width: 100%;
    height: 400px;
}

.scale-typewritter {
    width: 100%;
    height: 100%;
}

/* reviews.html and authors.html */

.link-text {
    color: #f5f5f5;
    text-decoration: none;
    text-align: center;
}

.link-text:hover {
    color: #ff4500;
}

.card-title {
    border-bottom: solid;
    padding-bottom: 5px;
}

.image-container {
    position: relative;
}

.image-flash {
    
    position: relative;
   
    
}
.author {
    color: #f5f5f5;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

/* book_review and author_bio .htmls */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-height: fit-content;
    width: 100%;
}

.masthead-text {
    background-color: #4b5320;
    color: white;
    position: relative;
    border-radius: 15px 15px 0 0;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
}

.post-title {
    text-align: center;
    font-family: "Kaushan Script", serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 15px;
    color: #FFD700;
   
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
    font-size: 1rem;
}

.owner-options {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* form pages */

.form-box {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-size {
    padding:0 200px;
}

/* 404.html */

.the-404-box {
    background-color: #4b5320;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.dragon-404-img {
    
    max-height: 400px;
    max-width: 100%;
}

.error-heading {
    font-family: "Kaushan Script", serif;
    font-size: 3rem;
    color: #FFD700; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-home {
    display: inline-block;
    background-color: #188181;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* ------------------------------------------Footer */


.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #8b0000;
}

.card {
    border: none;
    background-color: transparent;
}


.link {
    color: #E84610;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.footer {
    background-color: #f5f5f5;
    color: #4A4A4F;
    font-size: 1.5rem;
}



/*Media query for tablets or larger (768px and up)*/
@media screen and (min-width: 768px) {

/* ------------------------------------------------------------Main */

/* author_bio and book_review html  */
.masthead-text {
    border-radius: 15px 0 0 15px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #4b5320;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(10deg);
    z-index: 100;
}

/* Image scale */
.scale {
    width: 100%;
    height: auto;
}

.scale-typewritter {
    width: 100%;
}

.masthead-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



}

/*Media query for laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {
    
    /* --------------------------------------------------------Header */
    .hidden-on-dropdown {
        visibility: visible;
    }

    .navbar-text {
        border-bottom-style: solid;
        border-color: #8b0000;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .nav-item {
        display: flex;
    }

    /* --------------------------------------------------------Body */

    /* Reviews and Authors .html */

    .intro-reviews {
    
        margin-right: 100px;
        margin-left: 100px;
        
    }



    /* login register sign out and 404 pages*/
    .credentials-box {
        margin-right: 300px;
        margin-left: 300px;
    }

    .the-404-box {
        margin-left: 300px;
        margin-right: 300px;
    }



    /* book-review and author-bio html */

    .post-title {
        text-align: left;
        margin-left: 5%;
       
    }

    
}

