{% extends "base.html" %}

{% block content %}
{% load static %}

    <div class="the-404-box text-center">
        <div>
            <img src="{% static 'images/404.jpeg' %}" class="dragon-404-img">
        </div>
        <h1 class="error-heading">404 - The Treasure is Missing!</h1>
        <p class="error-text">
            It seems the page you seek has been moved, renamed, or doesn't exist. Perhaps a sly thief has snatched it
            from the horde!
        </p>
        <p class="error-text">
            Return to the safety of the horde and perhaps we can recover our losses.
        </p>
        <a href="{% url 'home' %}" class="btn-home"><i class="fas fa-home"></i> Back to Home</a>
    </div>

{% endblock %}