{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Author Name goes in this h1 tag -->
                <h1 class="post-title">{{ author.name }}</h1>
                <!-- Author details go in these p tags -->
                <p class="post-subtitle">Born: {{ author.date_of_birth }}</p>
                <p class="post-subtitle">Nationality: {{ author.nationality }}</p>
                <p class="post-subtitle">Favourite Book: {{ author.favourite_book }}</p>
                <div class="owner-options">
                    {% if user.is_authenticated and author.posted_by == user %}
                    <a href="{% url 'author_edit' slug_author=author.slug_author %}" class="btn btn-edit">Edit</a>
                    <form action="{% url 'author_delete' slug_author=author.slug_author %}" method="POST" onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default_author-min.jpeg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The Author Bio goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ author.bio | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}