{% extends 'base.html' %} {% block content %}
{% load static %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Book Title and Author goes in this h1 tag -->
                <h1 class="post-title">{{ book.title }} by {{ book.author }}</h1>
                <!-- Publish Details -->
                <p class="post-subtitle">Published: {{ book.book_published }}</p>
            
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/dragon_reading-min.jpeg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The book review content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ book.review | safe }}
                </p>
            </div>
            <!-- The details about the reviewer, their overall rating and date they posted the review go in these p tags -->
            <p>Review by: {{ book.review_author }}</p>
            <p>My Rating (out of 5): {{ book.rating }}</p>
            <p>{{ book.created_on }}</p>
        </div>
    </div>
</div>

{% endblock content %}