{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- Book Review Page -->
<!-- Masthead -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Book Title -->
                <h1 class="post-title">{{ book.title }}</h1>
                <!-- Book Author -->
                <p class="post-subtitle">Written by {{ book.author }}</p>
                <!-- Published Date -->
                <p class="post-subtitle">Published: {{ book.book_published }}</p>
                <div class="owner-options">
                    <!-- Checks to see if user is logged in and if so if they are the content creator so they can edit the content -->
                    {% if user.is_authenticated and book.review_author == user %}
                    <!-- Edit button  -->
                    <a href="{% url 'book_edit' slug=book.slug %}" class="btn btn-edit" aria-label="Edit Button">Edit</a>
                    <!-- Delete button calls confirmDelete in the script.js file -->
                    <form action="{% url 'book_delete' slug=book.slug %}" method="POST"
                        onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete" aria-label="Delete Button">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class=" d-md-block col-md-6 masthead-image">
                <!-- Dragon Reading Image -->
                <img src="{% static 'images/dragon_reading_min.jpeg' %}" class="scale" alt="A closeup image of a dragon reading a book">
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The book review content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <h2 class="index-sub">Review</h2>
                <article class="card-text">
                    {{ book.review | safe }}
                </article>
            </div>
            <div class="text-center">
                <!-- The details about the reviewer, their overall rating and date they posted the review go in these p tags -->
                <p>Review by: {{ book.review_author.username }}</p>
                <p>My Rating: {{ book.rating }}/5</p>
                <p>{{ book.created_on }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}