{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Edit Review -->

<div class="container form-box py-5">
  <div class="card-body">
    <h2 class="index-sub">Edit Review</h2>
    <!-- Checks User is logged in and displays a prompt to login if not-->
    {% if user.is_authenticated %}
    <p class="text-center">Reviewing as: {{ user.username }}</p>
    <!-- The BookReviewForm is called and populated with the Saved content -->
    <form id="BookReviewForm" class="form-size" method="post" style="margin-top: 1.3em;">
      {{form | crispy }}
      {% csrf_token %}
      <button id="submitButton" type="submit" class="btn btn-signup btn-lg" aria-label="Submit Button">Submit</button>
    </form>
    {% else %}
    <p>Log in to leave a comment</p>
    <!-- Login Button -->
    <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" aria-label="Login Button">Login</a>
    {% endif %}
  </div>
</div>


{% endblock %}