{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container py-5">
    <!-- Welcome Section -->
    <section class="welcome text-center mb-5">
        <div>
            <!-- Dragon Guarding Image by DigitalArt Max at Adobe Stock https://stock.adobe.com/ie/contributor/211689679/digitalart-max?load_type=author&prev_url=detail -->
            <img src="{% static 'images/dragon_guarding.jpeg' %}" class="dragon-guarding" alt="An image of a dragon fiercely guarding books">
        </div>
        <h1 class="display-4 welcome-title">Welcome to BookWyrm!</h1>
        <p class="lead">Behold the Horde! A gleaming sanctuary of literary treasures, fiercely guarded by our mighty
            thunder of dragons. Plunge into the bounty, where every book review shines like a priceless gem, and every
            author stands as a beacon of inspiration. Your next favorite tale awaits—join us, and share your discoveries
            with the legendary BookWyrms!</p>
        <div class="welcome-btns">
            <!-- Checks User is Logged In -->
            {% if user.is_authenticated %}
            <!-- Explore Reviews Button (User Logged In) -->
            <a href="{% url 'reviews' %}" class="btn btn-primary btn-lg" aria-label="Reviews Button">Explore Reviews</a>
            <!-- Meet The Authors button (User Logged In) -->
            <a href="{% url 'authors' %}" class="btn btn-primary btn-lg" aria-label="Authors Button">Meet the Authors</a>
            {% else %}
            <!-- Login Button (User Logged Out) -->
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" aria-label="Login Button">Login</a>
            <!-- Register Button (User Logged Out) -->
            <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg" aria-label="Register Button">Register</a>
            {% endif %}
        </div>
    </section>

    <!-- Featured Reviews Section -->
    <section class="mb-5 review-card">
        <h2 class="mb-4 index-sub">Featured Reviews</h2>
        <div class="row">
            <!-- Iterates through featured_books list -->
            {% for book in featured_books %}
            <div class="col-md-4">
                <!-- Review Card -->
                <div class="card h-100">
                    <div class="card-body text-center">
                        <!-- Book Title -->
                        <h5 class="card-title home-review-text-title">{{ book.title }}</h5>
                        <!-- Book Author -->
                        <p class="card-text ">by {{ book.author.name }}</p>
                        <!-- Book Rating -->
                        <p class="card-text ">
                            <strong>Rating:</strong> {{ book.rating }} / 5
                        </p>
                        <!-- Reviewed By -->
                        <p class="card-text home-review-text">Reviewer: {{ book.review_author }}</p>
                        <!-- Read Review button -->
                        <a href="{% url 'book_review' slug=book.slug %}" class="btn btn-primary" aria-label="Read Review Button">Read Review</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted">No featured reviews available.</p>
            {% endfor %}
        </div>
    </section>

    <!-- Featured Authors Section -->
    <section class="mb-5 author-card">
        <h2 class="mb-4 index-sub">Meet the Authors</h2>
        <div class="row">
            <!-- Iterates through the featured-authors list -->
            {% for author in featured_authors %}
            <div class="col-md-3">
                <!-- Author Card -->
                <div class="card h-100">
                    <div class="card-body text-center">
                        <!-- Author Name -->
                        <h5 class="card-title author-text-name">{{ author.name }}</h5>
                        <!-- Author Writing Genre -->
                        <p class="card-text">{{ author.genre }}</p>
                        <!-- Read Author Button -->
                        <a href="{% url 'author_bio' slug_author=author.slug_author %}" class="btn btn-primary" aria-label="Read Author Button">View
                            Bio</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted">No featured authors available.</p>
            {% endfor %}
        </div>
    </section>

    <!-- Call to Action -->
    <section class="text-center">
        <h2 class="index-sub">Add to our Horde!</h2>
        <!-- Checks if User is logged in -->
        {% if not user.is_authenticated %}
        <p class="lead">Login or sign up below to add your review to our collection</p>
        <!-- Sign Up Button (User Logged Out) -->
        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg" aria-label="Sign Up Button">Sign Up</a>
        <!-- Login Butter (User Logged Out) -->
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" aria-label="Sign In Button">Login</a>
        {% else %}
        <p class="lead">Got more treasure for our halls? What are you waiting for? Write a new review below.<p>
            <!-- Write A Review Button (User Logged In) -->
                <a href="{% url 'new_review' %}" class="btn btn-success btn-lg" aria-label="Write Review Button">Write a Review</a>
                {% endif %}

    </section>
</div>


{% endblock %}