{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="text-center intro-reviews">

    <div class="hero_img">
        <img src="{% static 'images/reading_dragon_min.jpeg' %}" class="dragon-guarding">
    </div>

    <h1 class="welcome-title">Explore our Horde of Reviews</h1>
    <p>
        Dive into our treasure trove of book reviews, guarded fiercely by our loyal BookWyrms. Here, each review is a
        shining gem,
        offering insights into the tales that have captured the hearts of dragons and hatchlings alike. Browse through,
        and perhaps you'll discover
        your next favorite story to add to your personal hoard!
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <h2 class="index-sub">Reviews</h2>
        <!-- Book Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% if  book_list|length == 0 %}
                <p>Gasp!! Our treasure is low. Make haste and add a review below!</p>
                {% else %}
                {% for book in book_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body review-card">
                            <a href="{% url 'book_review' book.slug %}" class="link-text">
                                <h2 class="card-title">{{ book.title }}</h2>
                            </a>
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ book.author }}</p>
                                </div>
                                <div class="image-flash">
                                    <p class="author">Reviewed By: {{ book.review_author }}</p>
                                </div>
                                <div class="image-flash">
                                    <p class="author">Rating: {{ book.rating }}/5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></lili>
                {% endif %}
                {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="text-center">
        <h2 class="index-sub">Your Drafts</h2>
        <ul>
            {% for book in object_list %}
            {% if book.status == 0 and book.review_author == user %}
            <li>
                <a href="{% url 'book_review' slug=book.slug %}">{{ book.title }}</a> (Draft)
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'new_review' %}" class="btn btn-success btn-lg">Write a Review</a>

    </div>
    {% endif %}
</div>

{% endblock %}